{% extends "base.html" %}
{% load static %}

{% block title %}Registro de usuarios{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block content %}
    <div class="top-green-bar" style="text-align: center;">
        <div class="row">
            <div class="col-lg-12">
                 <h1 id="titulo-registro"> Registro </h1>
            </div>
        </div>
    </div>
    <section id="signup" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" id="signup-row">
                <div class="col-lg-2"> </div>
                <div class="col-lg-8" id="columna-2">
                    <div id="form-registro">
                        <form action="" method="post" accept-charset="utf-8" class="form-group" role="form" id="signupform" novalidate>
                            <div id="signup-form">
                                <section id="datos-personales">
                                    <h4>Datos personales</h4>
                                    {% for field in formulario1 %}
                                        <div class="control-group" id="{{field.name}}-state">
                                            <div class="input-group">
                                                <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                            </div>
                                            <span class="error" id="{{ field.name }}-icon"></span>
                                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}

                                    {% for field in formulario2 %}
                                        <div class="control-group" id="{{field.name}}-state">
                                            <div class="input-group">
                                                <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                            </div>
                                            <span class="error" id="{{ field.name }}-icon"></span>
                                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}


                                    <div id="ten_form" style="display: none;">
                                        {% for field in formulario3 %}
                                            <div class="control-group" id="{{field.name}}-state">
                                                <div class="input-group">
                                                    <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                                </div>
                                                <span class="error" id="{{ field.name }}-icon"></span>
                                                <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="trans_form" style="display: none;">
                                        {% for field in formulario4 %}
                                            <div class="control-group" id="{{field.name}}-state">
                                                <div class="input-group">
                                                    <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                                </div>
                                                <span class="error" id="{{ field.name }}-icon"></span>
                                                <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="jefe_form" style="display: none;">
                                        {% for field in formulario5 %}
                                            <div class="control-group" id="{{field.name}}-state">
                                                <div class="input-group">
                                                    <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                                </div>
                                                <span class="error" id="{{ field.name }}-icon"></span>
                                                <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="tele_form" style="display: none;">
                                        {% for field in formulario6 %}
                                            <div class="control-group" id="{{field.name}}-state">
                                                <div class="input-group">
                                                    <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                                </div>
                                                <span class="error" id="{{ field.name }}-icon"></span>
                                                <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <br>


                                </section>

                                <section id="datos-ubicacion">
                                    <!--
                                    <h4>Datos de ubicación</h4>
                                    {% for field in formulario2 %}
                                        <div class="control-group" id="{{field.name}}-state">
                                            <div class="input-group">
                                                <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>
                                                {{ field }}
                                            </div>
                                            <span class="error" id="{{ field.name }}-icon"></span>
                                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}
                                    <br>
                                    -->

                                </section>
                            </div>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <button class="btn-agruppa " type="submit" value="Registrar" id="button-signup">Registrar</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2"> </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block custom_script %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#Rol').on('change',function(){
                if( $(this).val()==='1'){
                    $("#ten_form").show();
                }else{
                    $("#ten_form").hide();

                }
                if( $(this).val()==='2'){
                    $("#jefe_form").show();
                }else{
                    $("#jefe_form").hide();

                }

                if( $(this).val()==='3'){
                    $("#trans_form").show();
                }else{
                    $("#trans_form").hide();
                }
                if( $(this).val()==='5'){
                    $("#tele_form").show();
                }else{
                    $("#tele_form").hide();
                }
            });

        });




    </script>
{% endblock %}
